// Generales
.header{
    display: flex;
    width: 100%;
    font-family: var(--font--family);
    color: var(--color--text--primary);
    animation-name: topAnimacion;
    animation-duration: 1s;
    position: relative;
   
}




//*** Color activar ***//
.option_active{
    color: var(--color--text--second);
}
//**************** Scroll Header *******************//
.header_esconder{
    transform: translateY(-100%);
    opacity: 0;
    transition: all .5s;
  }

//***************************************************//


// Escritorios
@media screen and (min-width: 1024px) {

}

// telefono
@media screen and (min-width: 768px) and (max-width: 1190px) {

    .header_mostrar {
        position: fixed !important;
        top: 0;
        height: 7rem !important;
        transition: all .4s;
        background-color: var(--color--background);
        z-index: 9899;
        border-bottom: 1px solid var(--color--background-second);
        .header_menu {
            transition: all .4s;
        }
      }



    .header{
        animation-name: topAnimacion;
        animation-duration: 1s;
        height: 7rem;
        align-items: center;
        transition: all .5s;
        position: relative;
        &_encabezado{
            padding-top: 1.5rem;
            font-weight: 500;
            font-size: 1.5rem;
            span{
                cursor: pointer;
            }
            h4{
                cursor: default;
            }
        }

        &_menu{
            display: flex;
            justify-content: center;
            list-style: none;

            li{
                cursor: pointer;
                text-align: center;
                margin: 0 auto;
                font-size: 1rem;
                background-image: linear-gradient(90deg ,var(--color--text--second),var(--color--text--second));
                background-repeat: no-repeat;
                background-size: 0% 2px;
                background-position: center bottom;
                transition: background-size .4s ease-in-out;
                // &:hover{
                //     color: var(--color--text--second);
                // }
                &:hover{
                    background-size: 100% 2px;
                }
                &:active{
                    color: var(--color--text--second);
                }
            }
        }
    }



}


//movil horizontal
@media screen and (max-width: 767px) {
   

    .header_mostrar {
        position: fixed !important;
        top: 0;
        height: 18% !important;
        transition: all .4s;
        background-color: var(--color--background);
        z-index: 9899;
        border-bottom: 1px solid var(--color--background-second);
        .header_menu {
            transition: all .4s;
            margin-top: -1.8rem !important;
            li{
                height: 2rem !important;
            }
        }
      }

    .header{
        animation-name: topAnimacion;
        animation-duration: 1s;
        height: 15%;
        transition: all .5s;
        position: relative;
        padding-top: 2rem;
        &_encabezado{
            font-weight: 500;
            font-size: 1.5rem;
            span{
                cursor: pointer;
            }
            h4{
                cursor: default;
                margin-top: .5rem;
            }
        }

        &_menu{
            display: flex;
            justify-content: center;
            list-style: none;

            li{
                cursor: pointer;
                text-align: center;
                margin: 0 auto;
                margin-top: 2rem;
                font-size: 1rem;
                background-image: linear-gradient(90deg ,var(--color--text--second),var(--color--text--second));
                background-repeat: no-repeat;
                background-size: 0% 2px;
                background-position: center bottom;
                transition: background-size .4s ease-in-out;
                // &:hover{
                //     color: var(--color--text--second);
                // }
                &:hover{
                    background-size: 100% 2px;
                }
                &:active{
                    color: var(--color--text--second);
                }
            }
        }
    }
}

//movil vertical
@media (max-width: 480px) { 
    .header_mostrar {
        position: fixed !important;
        top: 0;
        height: 18% !important;
        transition: all .4s;
        background-color: var(--color--background);
        z-index: 9899;
        border-bottom: 1px solid var(--color--background-second);
        .header_encabezado {
            height: 4rem;
        }
        .header_menu {
            transition: all .4s;
            margin-top: 0rem !important;
            li{
                height: 2rem !important;
            }
        }
      }



   .header{
    height: 18rem !important;
    padding-top: 3.5rem;
    &_encabezado{
        height: 2rem;
    }
    &_menu{
        display:block;

        li{
            margin-top: 1rem;
            &:hover{
                background-size: 0%;
            }
            &:active{
                color: var(--color--text--second);
            }
        }
    }
   }
}


// Animaciones movile
// animation-name: topAnimacion;
// animation-duration: 1.5s;
@keyframes topAnimacion{
    
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
