// Generales
.header{
    display: flex;
    width: 100% !important;
}

//*** Color activar ***//
.option_active{
    color: var(--color--text--second);
}
//**************** Scroll Header *******************//
.header_esconder{
    transform: translateY(-100%);
    opacity: 0;
    transition: all .5s;
  }
  .header_mostrar {
    position: fixed !important;
    top: 0;
    height: 18% !important;
    transition: all .4s;
    background-color: var(--color--background);
    z-index: 9899;
    border-bottom: 1px solid var(--color--background-second);
    .header_menu {
        transition: all .4s;
        margin-top: -1.8rem !important;
        li{
            height: 2rem !important;
        }
    }
  }
//***************************************************//


// Escritorios
@media screen and (min-width: 1024px) {

}

// telefono
@media screen and (min-width: 768px) and (max-width: 1190px) {

}


//movil horizontal
@media screen and (max-width: 767px) {
    .row {
      --bs-gutter-x: 0 !important;
    }
    .header{
        animation-name: topAnimacion;
        animation-duration: 1s;
        height: 15%;
        transition: all .5s;
        position: relative;
        padding-top: 2rem;
        font-family: var(--font--family);
        color: var(--color--text--primary);
        &_encabezado{
            font-weight: 500;
            font-size: 1.5rem;
            span{
                cursor: pointer;
            }
            h4{
                cursor: default;
                margin-top: .5rem;
            }
        }

        &_menu{
            display: flex;
            justify-content: center;
            list-style: none;

            li{
                cursor: pointer;
                text-align: center;
                margin: 0 auto;
                margin-top: 2rem;
                font-size: 1rem;
                background-image: linear-gradient(90deg ,var(--color--text--second),var(--color--text--second));
                background-repeat: no-repeat;
                background-size: 0% 2px;
                background-position: center bottom;
                transition: background-size .4s ease-in-out;
                // &:hover{
                //     color: var(--color--text--second);
                // }
                &:hover{
                    background-size: 100% 2px;
                }
                &:active{
                    color: var(--color--text--second);
                }
            }
        }
    }
}

//movil vertical
@media (max-width: 480px) { 
   
}


// Animaciones movile
// animation-name: topAnimacion;
// animation-duration: 1.5s;
@keyframes topAnimacion{
    from {
        transform: translateY(-100px);
        opacity: 0;
    }
    
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
