<header id="header" class="header m-0">

    <div class="header__encabezado header_encabezado text-center col-md-6 m-0">
        <span [routerLink]="['Andres_Martinez']" class="">Juan Andrés Pinzón Martínez</span>
        <h4 class="m-0 p-0">Desarrollador de software</h4>
    </div>
    <div class="header__menu">
        <ul class="text-center m-0 p-0">
            <li [routerLink]="['Andres_Martinez/Curriculum']">Currículum</li>
            <li [routerLink]="['Andres_Martinez/Proyectos']">Proyectos</li>
            <li (click)="descargar()">Descargar CV</li>
        </ul>
    </div>
</header>
