// Generales
.header{
    font-family: var(--font--family);
    color: var(--color--text--primary);
    //background-color: var(--color--background);
    background-color: aqua;
    width: 100%;
    height: 6rem;

    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: topAnimacion;
    animation-duration: 1s;
    &__encabezado{
        font-weight: 500;
        font-size: 1.5rem;
        flex-direction: column;
        
        span{
            cursor: pointer;
        }
        h4{
            cursor: default;
        }
    }

    &__menu{
        ul{
            display: flex;
            justify-content: center;
            list-style: none;
        }

        li{
            cursor: pointer;
            text-align: center;
            font-size: 1rem;
            background-image: linear-gradient(90deg ,var(--color--text--second),var(--color--text--second));
            background-repeat: no-repeat;
            background-size: 0% 2px;
            background-position: center bottom;
            transition: background-size .4s ease-in-out;
            &:hover{
                background-size: 100% 2px;
            }
            &:active{
                color: var(--color--text--second);
            }
        }
    }
}




//*** Color activar ***//
.option_active{
    color: var(--color--text--second);
}

//**************** Scroll Header *******************//
.header--esconder{
    transform: translateY(-100%);
    opacity: 0;
    transition: all .5s;
}

.header--mostrar {
    position: fixed !important;
    top: 0;
    height: 6rem;
    transition: all .4s;
    background-color: var(--color--background);
    z-index: 9899;
    border-bottom: 1px solid var(--color--background-second);
    .header__menu {
        transition: all .4s;
    }
}

//***************************************************//


// Escritorios
@media screen and (min-width: 1024px) {

    .header{
        align-items: center;
        transition: all .5s;
        &__encabezado{
           width: 40%;
        }

        &__menu{
            width: 40%;
            ul li{
                margin: 0 auto;
            }
        }
    }

}

// telefono
@media screen and (min-width: 768px) and (max-width: 1190px) {

    .header{
        align-items: center;
        transition: all .5s;
        &__encabezado{
           width: 50%;
           font-size: 1.4rem;
        }

        &__menu{
            width: 50%;
            ul li{
                margin: 0 auto;
            }
        }
    }

}


//movil horizontal
@media screen and (max-width: 767px) {
    .header--mostrar {
        position: fixed !important;
        top: 0;
        height: 5rem !important;
        .header__encabezado{
            display: none;
         }
        .header__menu {
            width: 100%;
            margin-top: 0;
            ul li{
                margin: 0 auto;
            }
        }
      }

    .header{
        align-items: center;
        transition: all .5s;
        height: 10rem;
        flex-direction: column;
        &__encabezado{
           width: 100%;
           font-size: 1.4rem;
        }
        
        &__menu{
            margin-top: 2rem;
            width: 100%;
            ul li{
                margin: 0 auto;
            }
        }
    }
}

//movil vertical
@media (max-width: 480px) { 
    .header--mostrar {
        position: fixed !important;
        top: 0;
        height: 5rem !important;
        .header__encabezado{
            display: inherit;
            font-size: 1.2rem;
        }
        .header__menu {
            width: 100%;
            margin-top: 0;
            ul li{
                margin: 0 auto;
            }
        }
      }

    .header{
        align-items: center;
        transition: all .5s;
        height: 8rem;
        flex-direction: column;
        &__encabezado{
           width: 100%;
            span{
                font-size: 1.2rem;
            }
            h4{
                font-size: 1rem;
            }
        }
        
        &__menu{
            width: 100%;
            ul{ 
                flex-direction: column;
                transition: all .4s;
                display: none;
                li{
                    height: 2rem;
                    margin: 0 auto;
                    font-size: 1.1rem;
                    &:hover{
                        background-size: 0%;
                    }
                }
            }
        }
    }
}


// Animaciones movile
// animation-name: topAnimacion;
// animation-duration: 1.5s;
@keyframes topAnimacion{
    
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
