//************** Generales *******************
.main{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    &__experiencia{
        cursor: default;
        display: inherit;
        flex-direction: column;
        align-items: self-end;
        animation-name: leftTituloAnimacion;
        animation-duration: 1s;
        justify-content: center;
        width: 80%;
        h3{
            font-size: 1.5rem;
            font-weight: 400;
            letter-spacing: .2rem;
            align-self: start;
            margin-left: 15%;
        }
    
        &--section{
            animation-name: leftAnimacion;
            animation-duration: 1.5s;
            display: flex;
            flex-direction: column;
                       
            &-img{
                position: relative;
                margin-bottom: 1.5rem;
                img{
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 50%;
                    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
                }
                h5{
                    position: absolute;
                    top: 0.7rem;
                    left: 3rem;
                    text-align: justify;
                    font-size: .98rem;
                    font-weight: 500;
                }
            }

            &-list{
                li{
                    h4{
                        font-weight: 500;
                    }
                    h5{
                        margin-top: -1rem;
                    }
                    p{
                        width: 80%;
                        text-align: justify;
                    }
                }
            }
        }
    }
}

//********************************************

//****** Linea del tiempo ******//


// Estilos del lado derecho de la linea
ul li {
list-style-type: none;
position:relative;  
padding-left: 1rem;
}
  
// Puntos por Li
ul li::after {
    content:'';
    display:block;
    margin-top: .5rem;
    width:8px;
    height:8px;
    border: solid 2px var(--color--background-options);
    background-color:var(--color--background-options);
    position:absolute;
    top: 0;
    left: -0.9rem;
    border-radius:50%;  
}
 
ul li:last-child::before{
    content: none;
}
// Lineas
ul li::before {
    content:'';
    width: 2px;
    height: 95%;
    background-color: var(--color--background-second);
    position:absolute;
    top: 19px;
    left: -0.7rem; 
}
  
//


// Escritorios
@media screen and (min-width: 1024px) {
    .main{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        &__experiencia{       
            width: 80%;
            margin: 0 auto;
            &--section{
                width: 80%;
                &-list{
                    li{
                        p{
                            width: 80%;
                        }
                    }
                }
            }
        }
    }
}

// telefono
@media screen and (min-width: 768px) and (max-width: 1190px) {
    .main{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        &__experiencia{       
            width: 80%;
            margin: 0 auto;
            &--section{
                width: 80%;
                &-list{
                    li{
                        p{
                            width: 85%;
                        }
                    }
                }
            }
        }
    }

}

//movil horizontal
@media screen and (max-width: 767px) {
    .main{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        &__experiencia{       
            width: 90%;
            margin: 0 auto;
            h3{
                margin-left: 10%;
            }
            &--section{
                width: 90%;
                &-list{
                    li{
                        p{
                            width: 90%;
                        }
                    }
                }
            }
        }
    }
}

//movil vertical
@media (max-width: 480px) {
    .main{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        &__experiencia{       
            width: inherit;
            margin: 0 auto;
            h3{
                margin-left: 1rem;
            }
            &--section{
                width: 90%;

                &-img{
                    // position: relative;
                    // margin-bottom: 1.5rem;
                    img{
                        width: 2.5rem;
                        height: 2.5rem;
                        border-radius: 50%;
                        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
                    }
                    h5{
                        position: absolute;
                        top: 0.7rem;
                        left: 3rem;
                        text-align: justify;
                        font-size: .9rem;
                        width: 80%;
                        font-weight: 500;
                    }
                }

                &-list{
                    li{
                        h4{
                            width: 90%;
                        }
                        p{
                            width: 90%;
                        }
                    }
                }
            }
        }
    }

}



// Animaciones
// animation-name: leftAnimacion;
// animation-duration: 1.5s;
@keyframes leftAnimacion{
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes leftTituloAnimacion{
    from {
        transform: translateX(-10rem);
        opacity: 0;
    }
    
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
