//************** Generales *******************

main{
    width: 100%;
    // height: 75vh;
    font-family: var(--font--family);
}

//********************************************

//****** Linea del tiempo ******//
ul {
    position:relative;
  }
  
ul li{
    list-style-type: none;
}
  
// Estilos del lado derecho de la linea
ul li {
position:relative;  
padding-left: 1rem;
}
  
// Puntos por Li
ul li::after {
    content:'';
    display:block;
    margin-top: .5rem;
    width:8px;
    height:8px;
    border: solid 2px var(--color--background-options);
    background-color:var(--color--background-options);
    position:absolute;
    top: 0;
    left: -0.9rem;
    border-radius:50%;  
}
 
ul li:last-child::before{
    content: none;
}
// Lineas
  ul li::before {
    content:'';
    display: block;
    width: 2px;
    margin-top: 1.5rem;
    height: 90%;
    background-color: var(--color--background-second);
    position:absolute;
    top:0;
    left: -0.7rem; 
  }
  
//


// Escritorios
@media screen and (min-width: 1024px) {}

// telefono
@media screen and (min-width: 768px) and (max-width: 1190px) {}

//movil horizontal
@media screen and (max-width: 767px) {
    .row {
        --bs-gutter-x: 0 !important;
    }

    .main{
        display: flex;
        justify-content: center;

        &_ex{
            cursor: default;
            width: 100%;
            padding-top: 4rem;
            display: flex;
            flex-direction: column;
            align-items: self-end;
            animation-name: leftTituloAnimacion;
            animation-duration: 1s;

            &:last-of-type{
                margin-bottom: 4rem;
            }

            h3{
                font-size: 1.8rem;
                font-weight: 400;
                letter-spacing: .2rem;
                position: absolute;
                left: 3rem;
            }
        
            &_cont{
                animation-name: leftAnimacion;
                animation-duration: 1.5s;
                width: 80%;
                display: flex;
                flex-direction: column;
                
                // El primer elemento con la misma clase
                &:first-of-type{
                    margin-top: 4rem;
                }
               
                &_img{
                    position: relative;
                    margin-bottom: 1.5rem;
                    img{
                        width: 2.5rem;
                        height: 2.5rem;
                        border-radius: 50%;
                        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
                    }
                    h5{
                        position: absolute;
                        top: 0.7rem;
                        left: 3rem;
                        text-align: justify;
                        font-size: .98rem;
                        font-weight: 400;
                        font-weight: 500;
                    }
                }

                &_list{
                    li{
                        h4{
                            font-weight: 500;
                        }
                        h5{
                            margin-top: -1rem;
                        }
                        p{
                            text-align: justify;
                            width: 90%;
                        }
                    }
                }
            }
        }
    }
}

//movil vertical
@media (max-width: 480px) {
 .main{
       
        &_ex{
            

            &:last-of-type{
         
            }

            h3{
             width: 100%;
             left: 1rem;
            }
        
            &_cont{
                width: 95%;
               
                &:first-of-type{
                  
                }
               
                &_img{
                   
                    img{
                       
                    }
                    h5{
                     
                    }
                }

                &_list{
                    li{
                        h4{
                        }
                        h5{
                        }
                        p{
                            
                        }
                    }
                }
            }
        }
    }


}



// Animaciones
// animation-name: leftAnimacion;
// animation-duration: 1.5s;
@keyframes leftAnimacion{
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes leftTituloAnimacion{
    from {
        transform: translateX(-10rem);
        opacity: 0;
    }
    
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
