/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@200;300;400;500;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}
:root {
    --color--background: rgb(242, 242, 242);
    --color--background-second: rgb(199, 202, 217);
    --color--background-options: rgba(172, 174, 185, 0.795);
    --color--text--primary: rgb(0, 0, 0);
    --color--text--second: rgb(65, 127, 166);
    --font--family: 'Anybody', cursive;
    ;
}

body {
    background-color: var(--color--background);
    width: 100% !important;
    height: 100vh;
}