//************** Generales *******************
.footer{
    display: flex;
    padding-left: .5rem;
    padding-right: .5rem;
    width: 100%;
    cursor: pointer;
    justify-content: center;
    font-family: var(--font--family);
    &_option{
        text-align: center;
        margin-bottom: 1rem;
        &:nth-child(1){
            animation-name: bottAnimacion;
            animation-duration: 1.5s;
            width: 500px;
            // background-color: aqua;
        }
        &:nth-child(2){
            width: 250px;
            animation-name: bottAnimacion;
            animation-duration: 2.5s;
            // background-color: rgb(44, 0, 85);
        }
        &:nth-child(3){
            width: 20rem;
            animation-name: bottAnimacion;
            animation-duration: 3.5s;
            // background-color: rgb(250, 16, 172);
        }
        &:nth-child(4){
            animation-name: bottAnimacion;
            animation-duration: 4.5s;
            width: 15rem;
            // background-color: rgb(43, 255, 0);
        }
        h4{
            font-weight: bold;
        }
        span{
            font-size: .9rem;
            width: 5rem;
            &:hover{
                color: var(--color--text--second);
                transition: all .5s;
            }
        }
    }
}
//********************************************

a:hover{
    svg{
        path{
            fill: var(--color--text--second);
        }
    }
}

// Escritorios
@media screen and (min-width: 1024px) {}

// telefono
@media screen and (min-width: 768px) and (max-width: 1190px) {}


//movil horizontal
@media screen and (max-width: 767px) {


}

//movil vertical
@media (max-width: 480px) {

    .footer{
        display: flex;
        width: 100%;
        cursor: pointer;
        justify-content: center;
        font-family: var(--font--family);
        flex-direction: column;
        &_option{
            &:nth-child(1){
                width: 100%;
                // background-color: aqua;
            }
            &:nth-child(2){
                width: 100%;
                // background-color: rgb(44, 0, 85);
            }
            &:nth-child(3){
                width: 100%;
                // background-color: rgb(250, 16, 172);
            }
            &:nth-child(4){
                width: 100%;
                // background-color: rgb(43, 255, 0);
            }
        }
    }
}



// Animaciones
// animation-name: bottAnimacion;
// animation-duration: 1.5s;
@keyframes bottAnimacion{
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}